@import "includes/_variables.styl"

.cron-editor
    display inline-block
    min-height 200px
    background-color $blue
    padding 15px
    color $darkGrey

    fieldset
        border-color $darkBlue
        border-style solid

        legend
            padding 0 5px

    &__cell
        &_small
            width 102px

        &_middle
            width 150px

        &_large
            width 210px

    &__row
        display flex

    &__label
        color $white
        margin-bottom 3px
        display block

    &__action
        margin 15px auto
        height 40px

    &__near-block
        margin-left 5px

    &__result
        background-color $black
        color $white
        height 40px
        margin-top 20px
        display flex
        align-items center
        justify-content center
        font-weight bold

    @require './tab.styl'
    @require './preset.styl'