&__tab
  height 36px
  font-weight bold
  color inherit
  border none
  margin .5px
  background-image linear-gradient(to bottom, $white, $lightGrey)
  cursor pointer
  padding 5px 7px 5px 7px

  &:hover:not(&_active)
    background-image linear-gradient(to bottom, $white, $grey100)

  &_active
    background-color $grey
    background-image none
    cursor default